body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #6DE1D2;
}

#game-container {
    text-align: center;
    background: #FFD63A;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin: 20px auto;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #F75A5A;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.cell:hover {
    background-color: #FFA955;
}

#status {
    margin: 20px 0;
    font-size: 1.2rem;
    min-height: 1.5rem;
}

#reset {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #45a049 ;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#reset:hover {
    background-color: #1DCD9F;
}